.Animated-Text {
    font-size: 2em;
    animation: color-change 3s infinite alternate;
}

@keyframes color-change {
    0% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}


body {
    background-color: rgb(0, 0, 0);
}


.button {
    background-color: #5f5f5f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    font-family: 'Courier', sans-serif;
    display: inline-block
}

.button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.Directory {
    overflow: hidden;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


#WelcomeHeader {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: normal;
}